<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">


    <title>Hello, world!</title>
  </head>
  <body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <div class="container bg-light mt-5">
<div class="row">
  <div class="col-10 ml-4">
    <h1>Posts currently in database</h1>

<h3>
  <%var y = 0%>
  <%for(var i = 0; i < numberOfPosts; i++) {%>
    <%=posts[i].user%>
    <br>
    <%=posts[i].title%>
    <br>
    <%=posts[i].content%>
    <%=numberOfPosts%>
    <br>
    <br>
    <form action="/likePost" method="GET">
      <input type="submit" value="Like" />
  </form>
  <% } %>
  
</h3>


<div class = "firstContainer">
        
    <form action="/newPost" method="GET">
        <input type="submit" value="New Post" />
    </form>
    <a href="/newPost">New Post</a>

</div>
</div>
</div>
</div>
  </body>
</html>


