<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Register user</title>

    <style>
        .navbar-custom { 
    background-color: lightgray; 
    } 

    </style>

  </head>
  <body>

    <nav class="navbar navbar-light navbar-custom">
        <form class="form-inline">
         <a href="/login"> <button class="btn btn-success" type="button">Login</button></a>
         <a href="/register"><button class="btn btn-success active" type="button">Register</button></a>
        </form>
      </nav>

    <div class="row justify-content-md-center mt-5"> 
        <div class="col-3">
            <form action="/register" method="POST">
               <div class="form-group">
                 <label for="username">Username</label>
                 <input placeholder="username" type="text" class="form-control" id="username" name="username">
               </div>
              <div class="form-group">
                <label for="email">Email address</label>
                <input placeholder="email" type="email" class="form-control" id="email" name="email">
              </div>
              <div class="form-group">
               <label for="password">Password</label>
                  <input placeholder="password" type="password" class="form-control" id="password" name="password">
                </div>
             <button type="submit" class="btn btn-primary">Register</button>
             </form>
      </div>
    </div>

  </body>
</html>




<!-- <h1>Register</h1>

<form action="/register" method="POST">
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username"
        required>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email"
        required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password"
        required>
    </div>
    <button type="submit">Register</button>
</form>
<a href="/login">Login</a> -->